Repository terror/riff: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, prettier --write, eslint

Add forbid and clippy scripts
  bin/clippy
  bin/forbid
Due: none

Fix minute parsing and update eslint config
  eslint.config.js
  src/App.tsx
Due: prettier --write, eslint

Add a theme provider
  eslint.config.js
  src/App.tsx
  src/components/theme-provider.tsx
  src/main.tsx
Due: prettier --write, eslint

Fix pluralization in notes copy
  src/App.tsx
Due: prettier --write, eslint

Add functionality for deleting notes
  bun.lockb
  package.json
  src/App.tsx
  src/components/ui/alert-dialog.tsx
Due: prettier --write, eslint

Add functionality for editing notes
  src/App.tsx
Due: prettier --write, eslint

Fix edit bug and begin work on modularization
  src/App.tsx
  src/components/ui/alert-dialog.tsx
  src/components/ui/button.tsx
  src/components/ui/dialog.tsx
  src/components/ui/resizable.tsx
  src/components/ui/separator.tsx
  src/components/ui/textarea.tsx
  src/lib.ts
  src/lib/utils.ts
Due: prettier --write, eslint

Add import and tailwind class sorting plugins
  .prettierrc
  bun.lockb
  package.json
  src/App.tsx
  src/components/ui/alert-dialog.tsx
  src/components/ui/button.tsx
  src/components/ui/dialog.tsx
  src/components/ui/separator.tsx
  src/main.tsx
  vite.config.ts
Due: prettier --write, eslint

Update readme
  README.md
Due: none

Extend note rendering with katex and highlight.js
  bun.lockb
  package.json
  src/App.tsx
  src/styles/syntax.css
Due: prettier --write, eslint

Change readme image
  README.md
Due: none

Add mode toggle
  README.md
  bun.lockb
  package.json
  src/App.tsx
  src/components/mode-toggle.tsx
  src/components/ui/dropdown-menu.tsx
Due: prettier --write, eslint

Add disclaimer to readme
  README.md
Due: none

Turn off autocomplete and autocorrect in main textarea
  src/App.tsx
Due: prettier --write, eslint

Add initial CI workflow
  .github/workflows/ci.yaml
  .gitignore
  .prettierignore
  bun.lockb
  eslint.config.js
  package.json
  src/App.tsx
Due: prettier --write, eslint

Add readme to prettierignore
  .prettierignore
Due: none

Add util tests using the bun test runner
  .github/workflows/ci.yaml
  README.md
  bun.lockb
  justfile
  package.json
  src/lib/utils.test.ts
  tsconfig.json
Due: prettier --write, eslint

Add configuration persistence layer
  .lintstagedrc.json
  bun.lockb
  justfile
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/config.rs
  src-tauri/src/error.rs
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/App.tsx
  src/components/mode-toggle.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/components/ui/sonner.tsx
  src/lib/types.ts
  src/main.tsx
  vite.config.ts
Due: cargo fmt --, prettier --write, eslint

Move out alert and settings into respective files
  src/App.tsx
  src/components/alert.tsx
  src/components/settings.tsx
Due: prettier --write, eslint

Expand on disclaimer in readme
  README.md
Due: none

Blend textarea with background
  src/App.tsx
Due: prettier --write, eslint

Extend configuration with OpenAI settings
  bun.lockb
  justfile
  package.json
  src-tauri/src/config.rs
  src/components/settings.tsx
  src/components/ui/select.tsx
  src/lib/types.ts
Due: cargo fmt --, prettier --write, eslint

Change default light/dark mode color scheme
  src/index.css
Due: none

Update readme image
  README.md
Due: none

Put model into its own file
  src-tauri/src/config.rs
  src-tauri/src/main.rs
  src-tauri/src/model.rs
  src/components/settings.tsx
Due: cargo fmt --, prettier --write, eslint

Abstract out an editor component
  src/App.tsx
  src/components/editor.tsx
Due: prettier --write, eslint

Path conditions:
  cargo fmt --: any of: *.rs
  prettier --write: (any of: *.ts) or (any of: *.tsx)
  eslint: (any of: *.ts) or (any of: *.tsx)
